
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: darkseagreen;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.icon {
  background: darkseagreen;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 14px;
  margin-top: 14px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

.logout{
  border: none;
  background-color: darkseagreen;
  color: white;
  font-size: 17px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 16px;

}




